node_modules/
lib/backend/config/config.dev.js
upload/

# webpack生成的文件
lib/frontend/static/js/main.js
lib/frontend/static/js/admin.js
lib/frontend/static/js/install.js

# 锁定文件：当存在时禁止安装
lib/backend/install.js.lock