node_modules/
lib/backend/config/config.dev.js
config/config.dev.js
upload/

# webpack生成的文件
frontend/static/js/main.js
frontend/static/js/admin.js
frontend/static/js/install.js

# lessc 生成的前端文件
frontend/static/css/index.css

# 锁定文件：当存在时禁止安装
lib/backend/install.js.lock